.main {
  margin-top: 20px;
}

.nav {
  padding: 10px 0;
}

.nav button {
  margin: 0 5px;
}

.table {
  display: block;
  overflow-x: auto;
}

label:hover {
  cursor: pointer;
  text-decoration: underline;
}
